HTTP header values should have encoding set to ISO-8859-1

According to [RFC5987](http://tools.ietf.org/html/rfc5987), HTTP header values can legitimately be supplied using the ISO-8859-1 encoding.

I've seen a number of user agents in the wild which use this encoding e.g.

```
Mozilla/5.0 (iPhone; CPU iPhone OS 8_1_1 like Mac OS X) AppleWebKit/600.1.4 (KHTML, like Gecko) Mobile/12B436 [FBAN/FBIOS;FBAV/18.1.0.14.11;FBBV/5295262;FBDV/iPhone7,2;FBMD/iPhone;FBSN/iPhone OS;FBSV/8.1.1;FBSS/2; FBCR/Méditel;FBID/phone;FBLC/fr_FR;FBOP/5]
```

Currently Rack assumes the encoding of the header value to be `ASCII-8BIT`. When I convert the string to `UTF-8`, I see a `Encoding::UndefinedConversionError` exception, because of the "é" in "Méditel".

I _think_ Rack ought to be forcing the encoding of the header values to be `ISO-8859-1`, because then I can convert successfully to `UTF-8`.

I'm happy to submit a pull request to fix this, but I wanted to check my logic was correct.


If we know the encoding of those things, then we should tag them correctly.  IOW, in this case I do think it's rack's responsibility.  Strings should only be tagged with `ASCII-8BIT` in the case where the encoding is unknown, or it's truly binary data.  It sounds like, in this case we know the encoding (because the RFC states it) so we can correctly tag the strings.

Does that make sense?

@tenderlove: Sorry for the slow response. What you say makes sense to me. @threedaymonk: What do you think?

If I understand correctly, the proposal is:

1. if a header value is MIME-encoded (starts with `=?` etc.), decode it and tag it with the asserted encoding;
2. otherwise, tag it as ISO-8859-1

… and ASCII-8BIT should only be needed if a header value is malformed and can't be interpreted as either of those.

That sounds good to me.

The story is a little bit murkier in the latest HTTP RFCs, though I'm not sure how widely implemented they are:

[Section 3.2.4 of [RFC 7230]](https://tools.ietf.org/html/rfc7230#section-3.2.4)

> Historically, HTTP has allowed field content with text in the
> ISO-8859-1 charset [ISO-8859-1], supporting other charsets only
> through use of [RFC2047] encoding.  In practice, most HTTP header
> field values use only a subset of the US-ASCII charset [USASCII].
> Newly defined header fields SHOULD limit their field values to
> US-ASCII octets.  A recipient SHOULD treat other octets in field
> content (obs-text) as opaque data.



Relevant for this case:
[RFC8187](https://tools.ietf.org/html/rfc8187) obsoletes RFC5987

I think if we want to treat the content as ISO-8859-1 by default, we would have to implement support for RFC 2047 encoding parsing.  Considering that new header fields should be limited to ASCII per RFC 7230, there isn't a strong web standards reason to do this, and demand for this feature appears limited.

Doing this would allow an attacker to pick any encodings supported by Ruby and force them to be loaded into the application, potentially bloating memory.  This would also require app developers to be forced to deal with any possible string encoding when dealing with headers, instead of just having to deal with a single encoding (binary).

I don't think the complexity here is worth the benefit.  I also think this would be possible to implement this feature in an external middleware (similar to https://github.com/whitequark/rack-utf8_sanitizer), so there is no reason rack itself needs to do it. What do other core team members think about this?

I didn’t know about this but the encoding for fields like headers should be well defined and documented even if different from the RFCs... probably the newer RFCs should be considered normative.

also I would like to follow whatever standard we come up with in my own header parser which is different from rack.

@ioquatix My proposal for this is to require binary encoding for header fields with non-ASCII characters, see #1488

#1488 was merged, so CGI values in environment now must be binary.