Is a boundary delimiter-only body an invalid request?

Sending the following request in a chrome browser will generate a boundary request with only delimiter-line.

```javascript
const formData = new FormData();
const request = new Request('http://127.0.0.1:8080/', {
  method: 'POST',
  body: formData,
});
const response = fetch(request);
```

```
curl 'http://127.0.0.1:8080/' -H 'Content-Type: multipart/form-data; boundary=----WebKitFormBoundaryR1LC4tR6ayskIXJm' --data-raw $'------WebKitFormBoundaryR1LC4tR6ayskIXJm--\r\n'
```

This request causes `Rack::Multipart::EmptyContentError` in rack application.

As @jeremyevans mentions, it doesn't seem to match the RFC2046 specification.
https://github.com/rack/rack/issues/1603#issuecomment-683124204

> The body must then contain one or more body parts, each preceded by a boundary delimiter line, and the last one followed by a closing boundary delimiter line.

Unlike https://github.com/rack/rack/issues/1603#issuecomment-683101436, the body described in this issue is not completely empty and contains a delimiter.
I am creating this issue because I think there is a possibility that delimiter-only requests have not been considered before.

But as far as I read RFC2046, is it a bug in chromium?


For RFC 2046, it appears invalid:

> The body must then contain
> one or more body parts, each preceded by a boundary delimiter line,

If you consider the updated RFC (RFC 7578), it still appears invalid because RFC 7578 references section 5.1 of RFC 2046:

> The media type multipart/form-data follows the model of multipart
> MIME data streams as specified in [Section 5.1 of [RFC2046]](https://datatracker.ietf.org/doc/html/rfc2046#section-5.1); changes
> are noted in this document.

RFC 7578  does not state that zero parts are allowed as a change from RFC2046.

That being said, it doesn't appear to be just an issue with Chrome, I see identical behavior with Firefox.  So while not blessed by the RFCs, as a practical matter, I'm open to supporting this and having the multipart parser return an empty value (e.g. `{}`).