Cookie expires format is invalid (take 2)

It appears that the date format used by the `expires` attribute the `Set-cookie` header is incorrect. This was broken by this commit: 5e0a9413a80e9b0aa8a74bfc806fb20f2ea0bf3c

The comment in the commit is incorrect. It implies that the date format should be as defined in RFC 2822, however I think this is a misreading of section [RFC 2616 section 3.3.1](https://tools.ietf.org/html/rfc2616#section-3.3.1) which includes its own specification of the date format. In particular the difference is that the timezone must be specified as "GMT".

RFC2616 has been superseded by rfc7231 which has the same definition in [section 7.1.1.1](https://tools.ietf.org/html/rfc7231#section-7.1.1.1).

In practice this is probably not causing a lot of problems because most cookie parsers are robust to the error. However occasionally there are problems.

This was first reported in #527. 


We encountered an issue with the invalid date format for the cookie `expires` value as well. 

If you look at the expires format for cookies coming out of Rack you'll see the GMT times end with "0000" rather than "GMT". 

In our case, this was revealed by Apache JMeter, which by default has strong cookie validation by default.

Here is the snippet from the RFC:

![image](https://cloud.githubusercontent.com/assets/172409/17818815/2705d65a-6613-11e6-82a3-7cf3e394c075.png)

Here is how Rack formats the expires time:
```
Rack::Utils.rfc2822(Time.now.gmtime)
=> "Fri, 19 Aug 2016 17:48:47 -0000"
```





It is stupid to call this a "RFC2822" or "RFC5322" date, when it uses the obsolete RFC822 timezone encoding.

I guess its time for new `#rfc1123` formatting method.




I think the key point is that RFC7321 has its own date specification which is unique in that it always requires the timezone to be specified as `GMT`. So it is not really obsolete, just different (not that I am claiming that is a good thing, it seems like the RFC is trying to maintain compatibility with a legacy mistake).

Yes, but they cite an RFC which defines dates in a different way, which makes it easy to confuse it.

The [Wikipedia page on cookies](https://en.wikipedia.org/wiki/HTTP_cookie) says:

> A definitive specification for cookies as used in the real world was published as RFC 6265 in April 2011.

[That spec](https://tools.ietf.org/html/rfc6265#section-5.1.1) says:

> sane-cookie-date  = `<rfc1123-date, defined in [RFC2616], Section 3.3.1>`

And the [ruby stdlib](https://github.com/rack/rack/issues/1100) provides this date format out of  the box with `httpdate`.

> This library extends the Time class with the following conversions between date strings and Time objects:
> 
> date-time defined by RFC 2822
> HTTP-date defined by RFC 2616
> ...

My PR above uses httpdate for the date format which should tidy things up. 


This looks like it would solve our problem.

I have an example of a client that exhibits this problem. The cookie parsing code on Roku devices is very strict and will refuse to use any cookie that uses a timezone that is not "GMT".

Looks like latest version 2.0.7 does not contain this fix, which version is planned to have this fix?