Sidekiq UI broken moving between 2.0.8 and 2.1.1

I'm not giving much to go on here, I realise, but this issue being present may help someone else with the same issue.

I'm not sure exactly what caused the issue, but it wasn't consistent - 
- worked locally (puma)
- worked on staging (puma, heroku, cedar-18)
- Rendered some part of the Sidekiq UI html, but the response ended some way through the body tag on production (puma, heroku, cedar-18). It stopped consistently in the same place (but different place for different production environments we have)

I'm putting this down to some weirdness with chunking or something.

Downgrading back to `2.0.8` fixed the issue.

https://github.com/rack/rack/pull/1428

They've yet to release a version 2.1.2 that includes the fix, though.

I'm referencing 75d178cd76a6d6444c1865b4c5ab189e86ae4e35 (`2-1-stable`) in my Gemfile, which includes #1428, but my Sidekiq UI is all blank.

75d178c should have the fix, backported as c42351006b0b7f92c99da8153dbc034673c76954.  Until 2.1.2 is released, you should probably either use 2.0.8 or 2-1-stable.  I hope we can get a 2.1.2 release soon, I'll try to work on preparations.

@lmansur If it works locally and not on a Heroku, it's probably not a bug in rack, but in issue with your Heroku setup.

Closing as this has already been fixed and backported, just not yet released.

Is that the same issue? The symptoms (`undefined method 'transform_keys'`) is not what I experienced above. It could be that which is causing it to stop outputting correctly, I guess, but I wasn't able to see this error anywhere.

@mikebaldry Can you try the 2-1-stable branch and see if that fixes the issue for you?  If not, it may be a different issue.

Sorry that I led you astray. I saw "Sidekiq" and made assumptions.

There is a breaking change. Can we push 2.1.2 sooner than later?

We are seeing the same thing in a Rails 5.1.7 app using Unicorn. Works locally, works in lower environments, but cuts off content on longer pages in production consistently.  Errors are always accompanied by this error in nginx logs "upstream sent more data than specified in "Content-Length" header while reading upstream".

When on 2.1.1, the errors were abundant in the logs. After updating to 2.1.2 there are way fewer errors, but some pages still have this issue. Not even sure where to start debugging this one 🤷‍♂ 

@tanelsuurhans If your application does not correctly calculate the Content-Length header when returning the response array, the easiest fix is using the Rack::ContentLength middleware.

I plugged in Rack::ContentLength to our Rails app and it still keeps showing the same error. I keep circling around the ContentLength and Chunked middlewares (as there are changes related to both), but I can't really pinpoint what the problem might be.

Looking at Rack::ContentLength, it doesn't replace an existing Content-Length header, so if you have one that is wrong, you need to remove it in a middleware before Rack::ContentLength handles the response.

Note that the correct (though maybe more difficult) fix is to fix the application to use the correct content length.

When using 2.1.1 I run into this only seemingly with responses that use `Transfer-Encoding: chunked`, leading me to believe that maybe there is something in Rails 5.1.x specifically that does not play well with the newer Rack version. 

My best guess right now is that Rack fixing issues where stuff "worked" when it should not have has exposed another upstream issues in Rails itself - but I am definitely poking around in the dark more than anything. The fact that I cannot replicate this in our lower environment with identical nginx settings as in production is definitely throwing me off.

`Transfer-Encoding: chunked` responses should not use `Content-Length`, per RFC 7230 Section 3.3.2.  You could try deleting the `Content-Length` header for responses with `Transfer-Encoding`, and see if that fixes the issue.

Additional data point to add is I only see this behavior when the response size hits 20KB - it then gets truncated and does not render correctly. That explains the difference between environments in our case, and why it was initially showing same behavior in all of them.

All being said, I have narrowed it down to `Rack::Response` changes between 2.0.x and 2.1.x and currently trying to go through the changes to find the specific changeset if I can.

I believe I have now found the root cause for the issue we are seeing. 
* Nginx is reporting that the app server is sending more content than the Content-Length header indicates and with larger responses it gets truncated
* I added a debugging middleware at the very top of the call stack, which shows that the Content-Length header and the actual content size differ
* I traced this difference down to NewRelic RPM injecting their Browser stats JS into every response, which made the response body larger, but did not update the actual headers

Looking at their agent code, they re-initialize the `Rack::Response` after the injection (https://github.com/newrelic/rpm/blob/master/lib/new_relic/rack/browser_monitoring.rb#L41). This worked fine with the previous version of `Rack::Response` due to the `writer` invocations in the constructor, which took care of also calculating the content length (see https://github.com/rack/rack/blob/72959ebc2f300f3b2ccb7ae2aae9f199e611dfb6/lib/rack/response.rb#L44-L49). With the new changes to the initializer, the `writer` is not invoked, meaning initializing a new response object will not touch the headers in any way, reporting whatever old Content-Length was set.

Seems like the easiest way is to still go with `writer` invocations over `@body` assignments to avoid this from happening. I'm sure there are other middleware dependent solutions out there that could be running into this once updating their rack version.

@tanelsuurhans Thanks for doing the research on that.  Sounds like NewRelic RPM needs to be updated.

Well... Unless I'm missing something, I would have to personally disagree. The interface for `Rack::Response.new` seems to clearly indicate you can pass in a response body, and the documentation only says to call `finish` before returning from your app. Neither of these actually calculate and set the `Content-Length` header, resulting in a scenario like I ran into to. The documentation also does not make it clear that instead of initializing a new response object you'd need to call `write` to populate the body. If that would be the case, the constructor probably should not accept a body argument in the first place.

The expectation would be that when I construct a response, it would take care of all that for me, no? Or what would be the downside of having the initializer function as it did in the previous version?

My expectation is if you provide a Content-Length header with a Rack::Response, Rack::Response should use it and not overwrite it.  I don't think Rack::Response should be assuming you provided incorrect information and ignore the header passed in.

There is a downside of having Rack::Response operate the way it did previously.  The first thing to understand is that the previous behavior was not by design, merely an internal detail of an inefficient implementation.  When the implementation was made more efficient in 8c62821f4a464858a6b6ca3c3966ec308d2bb53e, the internals changed, and now Rack::Response no longer ignores the Content-Length passed in.

I hear what you are saying. So the options for using `Rack::Response` are either measuring the size of the content you are trying to "initialize", and pass in the body along with the correct headers. Or initialize an empty `Rack::Response` and call `response.write(body)` to have it handle both initialization and setting the headers as applicable?

At the very least it might make sense to raise awareness to that detail at the top of the module to avoid any invalid assumptions perhaps?

I 100% agree we need more documentation.  Not just for Rack::Response, but many other parts of rack as well.  It's something I plan to work on.

@tanelsuurhans if you think there is some way to improve the situation in terms of documentation please make a PR.