Should `form_data?` still return true for POST requests without content-type header set?

`form_data?` returns true for POST requests where the content-type header is not set:

https://github.com/rack/rack/blob/ca8a404704ed043797c4f9d482c97d722c0dc719/lib/rack/request.rb#L489

This was added in commit aea2d608fe592a665741087a8d6d31fcf26848ec.
The reason seems to be to fix backwards compatibility after commit 8d01dc0421622f80fddfec52be66c49f8362162f.
That commit disallowed PUT requests without content-type header set to parse the request body to prevent Sinatra from ingesting huge file uploads into memory.

Is this still a valid use-case?
Rails overrides `form_data?` to remove this functionality and only return true for valid content-types:

https://github.com/rails/rails/blob/3079e8b0f894e9a7e85a3bbf42383dc0a616af41/actionpack/lib/action_dispatch/http/request.rb#L365

Meanwhile Sinatra will still try to parse the query params of POST requests with huge file upload when content-type is not set.


I don't feel strongly about it, but I would be OK changing the behavior in the next major version to not parse the request body if a `content-type` header is not present. This should hopefully not affect many applications, as RFC 9110 section 8.3 states that requests with bodies should include a `content-type` header.

This could also be an optional feature.