Statuses with no entity body inconsistencies

Hi all,

I've noticed that `Rack::Lint` [complains](https://github.com/rack/rack/blob/master/lib/rack/lint.rb#L659) if `Content-Type` or `Content-Length` entity headers are set when the status is: `1xx`, `204`, `205` or `304`.

Those statuses above are defined in a [constant](https://github.com/rack/rack/blob/8d21788798b521b97beb10047ebf593ddc0aaed2/lib/rack/utils.rb#L641) named `STATUS_WITH_NO_ENTITY_BODY`. It regulates other Rack features, such as: chunked and deflated responses etc.
### Statuses without entity body

Quoting the RFC 2016, [Section 4](http://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html):

> All 1xx (informational), 204 (no content), and 304 (not modified) responses MUST NOT include a message-body. All other responses do include a message-body, although it MAY be of zero length.

Rack also includes `205` because:

> 205 Reset Content
> [...] The response MUST NOT include an entity.

Until now we know for sure that response body isn't allowed for those HTTP statuses.
### Should headers be allowed?

Looking closely at `204` definition:

> The response MAY include new or updated metainformation in the form of
>    entity-headers, which if present SHOULD be associated with the
>    requested variant.

It looks like entity-headers are allowed. What are those?

> 7.1 Entity Header Fields

```
entity-header  = Allow                    ; Section 14.7
                      | Content-Encoding         ; Section 14.11
                      | Content-Language         ; Section 14.12
                      | Content-Length           ; Section 14.13
                      | Content-Location         ; Section 14.14
                      | Content-MD5              ; Section 14.15
                      | Content-Range            ; Section 14.16
                      | Content-Type             ; Section 14.17
                      | Expires                  ; Section 14.21
                      | Last-Modified            ; Section 14.29
                      | extension-header
```

The list above enlist both `Content-Length` and `Content-Type` as allowed headers.

My questions are:
- Is Rack wrong? Or am I miss something?
- Should headers like `Set-Cookie` be blocked by `Rack::Lint`?

If needed I can craft a PR to fix those issues.


I'm not sure about that, `Rack::Lint`'s header comment says:
>
  # Rack::Lint validates your application and the requests and
  # responses **according to the Rack spec**.

The Rack spec, not any RFC...

And the Rack spec says:
>
  The Content-Type
  There must not be a Content-Type, when the Status is 1xx, 204, 205 or 304.
>
  The Content-Length
  There must not be a Content-Length header when the Status is 1xx, 204, 205 or 304.

(http://www.rubydoc.info/github/rack/rack/file/SPEC)

So I think, first of all, if Rack wants to be fully RFC 2016 compliant, its specs must be changed, and `Rack::Lint` should follow those changes.

PS.: Damn. Your issues/PRs are always so well written.


RFC 7230 section 3.3 states that 204 responses should not have a request body and that `Content-Length` header indicates there is a request body.  So I think the the Rack SPEC/Lint is correct to complain if you have a 204 response with a `Content-Length`.

It doesn't specifically talk about `Content-Type`, but if there is no body, I don't think a `Content-Type` (which describes the type of content in the body) makes sense.

I'm going to close this now.  If you think it causes problems in production applications or there are specific reasons we should allow it, please respond.