Path containing null byte returns 500 status code

_From @questionmarc on November 9, 2015 19:31_

Arguably this should instead return the 400 http status code instead, since the path could be considered malformed / invalid. Throwing an error is expensive and should be reserved for truly exceptional situations.

**Steps to reproduce:**
Creating a new rails app
start up the rails server 
run `curl "localhost:3000/index.jsp%00x"` 

**Stacktrace:**

```
[2015-11-09 14:22:59] ERROR ArgumentError: string contains null byte
    /Users/pivotal/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/rack-1.6.4/lib/rack/utils.rb:679:in `join'
    /Users/pivotal/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/rack-1.6.4/lib/rack/utils.rb:679:in `clean_path_info'
    /Users/pivotal/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/actionpack-4.2.4/lib/action_dispatch/middleware/static.rb:28:in `block in match?'
    /Users/pivotal/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/actionpack-4.2.4/lib/action_dispatch/middleware/static.rb:27:in `map'
    /Users/pivotal/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/actionpack-4.2.4/lib/action_dispatch/middleware/static.rb:27:in `match?'
    /Users/pivotal/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/actionpack-4.2.4/lib/action_dispatch/middleware/static.rb:110:in `call'
    /Users/pivotal/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/rack-1.6.4/lib/rack/sendfile.rb:113:in `call'
    /Users/pivotal/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/railties-4.2.4/lib/rails/engine.rb:518:in `call'
    /Users/pivotal/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/railties-4.2.4/lib/rails/application.rb:165:in `call'
    /Users/pivotal/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/rack-1.6.4/lib/rack/lock.rb:17:in `call'
    /Users/pivotal/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/rack-1.6.4/lib/rack/content_length.rb:15:in `call'
    /Users/pivotal/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/rack-1.6.4/lib/rack/handler/webrick.rb:88:in `service'
    /Users/pivotal/.rbenv/versions/2.2.2/lib/ruby/2.2.0/webrick/httpserver.rb:138:in `service'
    /Users/pivotal/.rbenv/versions/2.2.2/lib/ruby/2.2.0/webrick/httpserver.rb:94:in `run'
    /Users/pivotal/.rbenv/versions/2.2.2/lib/ruby/2.2.0/webrick/server.rb:294:in `block in start_thread'
```

_Copied from original issue: rails/rails#22235_


For what I could see in the stacktrace the exception is being raised at Rack. I don't think Rails should silently rescue ArgumentError to raise a 400 http status code, so this issue should be fixed in rack. I'll move the issue there.

+1. We see hundreds of these a day from people trying to poke and prod us at work to see if we have vulnerabilities (usually Windows exploits, or other clearly wrong paths). We'd love to see this be a 400 instead of a 500.

From a cursory glance, I don't see how to correctly halt execution in Rack::Utils and return a 400, since it's being called from ActionDispatch. That suggests to me we'd be catching this error in somewhere like Rack::ContentLength, after the exception bubbles back up out of Rails? 

I'm happy to put in some time to fixing this, but I'm not confident I know the right place to catch this error. ContentLength#call looks pretty unrelated to the issue at hand.

Since the null byte is not valid in file paths, I think it would be acceptable for Rack to reject/ignore the encoded null byte character when unescaping paths, as suggested in [RFC 3986 Section 7.3](https://tools.ietf.org/html/rfc3986#section-7.3)

>Note, however, that the "%00" percent-encoding (NUL) may require special handling and should be rejected if the application is not expecting to receive raw data within a component.

This is what I was proposing in #979 with the update to `Rack::Utils#unescape_path`. Rack would serve the request or return a 404 status.

@rafaelfranca for Rails < 5.0 I believe this fix would have to happen in `ActionDispatch::FileHandler` since Rails handles unescaping paths on its own before calling `Rack::Utils#clean_path_info`. I can submit a pull request to the Rails 4-2-stable branch if this is the best approach.

The issue noted above is an issue that needs resolved in `ActionDispatch::FileHandler#match?`, but there is an issue in Rack when attempting to fetch a static resource with a path that contains a null byte.

**Steps to reproduce**

create the following rack app:

config.ru
```
# This is the root of our app
@root = File.expand_path(File.join(File.dirname(__FILE__), "www"))

run Proc.new { |env|
  Rack::File.new(@root).call(env)
  # Same issue is seen with Rack::Directory.new(@root).call(env)
}
```

run `rackup config.ru`

run `curl localhost:9292/test%00`

**Output**:
````
HTTP/1.1 500 Internal Server Error 
Content-Type: text/html; charset=ISO-8859-1
Server: WEBrick/1.3.1 (Ruby/2.2.4/2015-12-16)
Date: Tue, 12 Jan 2016 21:54:26 GMT
Content-Length: 305
Connection: close
```

**Stacktrace:**
```
[2016-01-12 16:42:46] ERROR ArgumentError: string contains null byte
	/Users/jordan/.rvm/gems/ruby-2.2.4/bundler/gems/rack-545532b01d33/lib/rack/utils.rb:598:in `join'
	/Users/jordan/.rvm/gems/ruby-2.2.4/bundler/gems/rack-545532b01d33/lib/rack/utils.rb:598:in `clean_path_info'
	/Users/jordan/.rvm/gems/ruby-2.2.4/bundler/gems/rack-545532b01d33/lib/rack/file.rb:34:in `call'
	/Users/jordan/projects/rails_test/config.ru:14:in `block (2 levels) in <main>'
	/Users/jordan/.rvm/gems/ruby-2.2.4/bundler/gems/rack-545532b01d33/lib/rack/handler/webrick.rb:86:in `call'
	/Users/jordan/.rvm/gems/ruby-2.2.4/bundler/gems/rack-545532b01d33/lib/rack/handler/webrick.rb:86:in `service'
	/Users/jordan/.rvm/rubies/ruby-2.2.4/lib/ruby/2.2.0/webrick/httpserver.rb:138:in `service'
	/Users/jordan/.rvm/rubies/ruby-2.2.4/lib/ruby/2.2.0/webrick/httpserver.rb:94:in `run'
	/Users/jordan/.rvm/rubies/ruby-2.2.4/lib/ruby/2.2.0/webrick/server.rb:294:in `block in start_thread'
```

I do believe this should return a 400 status code instead of resulting in a 500.

This was fixed in Rails master and backported to 4.2.6, so this issue can be closed.

rails/rails#23035
rails/rails#23045

Per the above comment, should this issue be closed?

I think so. This comment has more info: https://github.com/rails/rails/issues/22235#issuecomment-171012170